// :root {
// 	--color_accent: #2947A9;
// }

// colors

$color_white: #fff;
$color_black: #000;
$color_blue: #397dc6;

// $color_accent: #2947a9;
// $color_title: #292e3d;

// $color_hover: #F9995D;

$font_1: 'Poppins', sans-serif;
$transition_dur: 0.3s;

// breakpoints
$point_1: 1200px;
$point_2: 1024px; /* ! */
$point_3: 1023.98px;
$point_4: 768px; /* ! */
$point_5: 767.98px;
$point_6: 480px;
$point_7: 375px; /* ! */
$point_8: 374.98px; /* ! */

// типографическая шкала
$font-xs: 1.4rem; // 12px
$font-sm: 1.5rem; // 14px
$font-md: 1.6rem; // 16px
$font-lg: 1.8rem; // 32px
$font-xl: 2rem; // 20px
$font-xxl: 5rem; // 24px
$font-hero: 6.4rem; // 48px
