@use '../variables' as *;

@mixin st_btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	white-space: nowrap;

	cursor: pointer;
	text-decoration: none;
}

// color extends
%transp_btn_1 {
	@include st_btn;
	color: $color_white;
	background-color: $color_blue;
	transition: 0.3s ease;
	// border: 2px solid $color_white;

	// &:hover {
	// 	background-color: $color_white;
	// 	color: $color_black;
	// }
}

//size extends
%btn_size_1 {
	min-width: 20.3rem;
	height: 4.5rem;
	line-height: 1;
	font-weight: 400;
	font-family: $font_1;
	font-size: $font-xl;
	border-radius: 50px;
}

.bth_ordinary {
	@extend %transp_btn_1;
	@extend %btn_size_1;
}
