@use './helpers/abstracts' as *;

.hero__content {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	padding-top: 20.9rem;
	padding-left: 20rem;
	.text-hero {
		margin-bottom: 2.2rem;
	}
	.text-lg {
		margin-bottom: 5.5rem;
	}
}
